.text-teal-500 {
    color: #20c997;
}
.text-teal-700 {
    color: #13795b;
}
.text-teal-900 {
    color: #06281e;
}

.bg-teal-500 {
    background-color: #20c997;
}
.bg-teal-700 {
    background-color: #13795b;
}
.bg-teal-900 {
    background-color: #06281e;
}

.button-teal-700 {
    background-color: #13795b;
}

.text-gray-100 {
    color: #f8f9fa;
}
.text-gray-200 {
    color: #e9ecef;
}
.text-gray-500 {
    color: #adb5bd;
}
.text-gray-700 {
    color: #495057;
}
.text-gray-800 {
    color: #212529;
}

.bg-gray-100 {
    background-color: #f8f9fa;
}
.bg-gray-200 {
    background-color: #e9ecef;
}
.bg-gray-500 {
    background-color: #adb5bd;
}
.bg-gray-700 {
    background-color: #495057;
}
.bg-gray-800 {
    background-color: #212529;
}

.bg-image-intro {
    background-image: url(images/undraw_static_assets_rpm6.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-skills {
    background-image: url(images/undraw_contract_uy56.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
